<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/assets/js/bootstrap.min.js"></script>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/icons/icons.css" rel="stylesheet" />
    <link href="/assets/blog.css" rel="stylesheet" />

    {% if css %}
      {% for link in css %}
    <link href="{{link}}" rel="stylesheet" />
      {% endfor %}
    {% endif %}
    <title>{{ title }}</title>
  </head>
  <body>

    {% include 'lightnav' %}

    {{ content }}

    {% include 'footer' %}

    {% include 'sidebar' %}
  </body>
</html>
