
<article class="blog-post">
  <h2 class="blog-post-title">{{ blogPost.title }}</h2>
  <p class="blog-post-meta">{{ blogPost.date }} by <a href="#">{{ blogPost.author }}</a></p>

  {{ blogPost.content }}

</article>
